.maincon {
  display: flex;
  flex-direction: row;/* Горизонтальное размещение элементов */
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Элементы слева и справа */
  padding: 5vw; /* Используем относительные единицы */
  background-color: #292828; /* Цвет фона */
  padding-bottom: 0%;
  margin-left: 100px;
}

.maincon-image {
  height: auto;
  max-width: auto;
  

}

.maincon-image img {
  width: 700px;
}

.maincon-content {
  text-align: left; /* Выравнивание текста по левому краю */
  padding: 15rem;
  max-width: 50%; /* Ограничиваем максимальную ширину контента */
  color: aliceblue; /* Цвет текста */
}


h1 {
  font-size: 2.5rem; /* Используем относительный размер шрифта */
  margin: 1rem 0;
}

h1 span {
  font-size: 1.5rem; /* Размер для части заголовка */
}

p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.icons {
  display: flex;
  justify-content: flex-start; /* Иконки по левому краю */
  gap: 2rem;
  margin-top: 1rem;
}

.icons img {
  width: 5vw; /* Ширина иконок будет зависеть от ширины экрана */
  max-width: 40px; /* Максимальная ширина */
  height: auto;
  transition: transform 0.3s ease;
}

.icons img:hover {
  transform: scale(1.1); /* Эффект наведения на иконки */
}

@media (max-width: 1618px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 100px;
  
  }
}

@media (max-width: 400px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 50px;
     margin-top: 50px;
   
  }
  .maincon-content {
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 3rem;
    max-width: 50%; /* Ограничиваем максимальную ширину контента */
    color: aliceblue; /* Цвет текста */
  }

  .maincon-image img {
    width: 400px;
  }
}

@media (max-width: 762px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 70px;
     padding: 0 0px;
  
  }

  .maincon-content {
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 5rem;
    max-width: 50%; /* Ограничиваем максимальную ширину контента */
    color: aliceblue; /* Цвет текста */
  }
  
  .maincon-image img {
    width: 300px;
  }

  h1 {
    font-size: 1.0rem; /* Используем относительный размер шрифта */
    margin: 1rem 0;
  }

  p {
    font-size: 1.1rem;
    margin: 1rem 0;
  }

  h1 span {
    font-size: 1.2rem; /* Размер для части заголовка */
  }
  
}

@media (max-width: 820px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 70px;
     padding: 0 0px;
  
  }

  .maincon-content {
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 5rem;
    max-width: 100%; /* Ограничиваем максимальную ширину контента */
    color: aliceblue; /* Цвет текста */
  }
  
  .maincon-image img {
    width: 500px;
  }

  h1 {
    font-size: 1.7rem; /* Используем относительный размер шрифта */
    margin: 1rem 0;
  }

  p {
    font-size: 1.6rem;
    margin: 1rem 0;
  }

  h1 span {
    font-size: 2.2rem; /* Размер для части заголовка */
  }
  
}

@media (max-width: 1024px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 70px;
     padding: 0 0px;
  
  }

  .maincon-content {
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 5rem;
    max-width: 50%; /* Ограничиваем максимальную ширину контента */
    color: aliceblue; /* Цвет текста */
  }
  
  .maincon-image img {
    width: 700px;
  }

  h1 {
    font-size: 1.9rem; /* Используем относительный размер шрифта */
    margin: 1rem 0;
  }

  p {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  h1 span {
    font-size: 2.2rem; /* Размер для части заголовка */
  }

  .icons img {
    max-width: 20%;  
     }
  
}

@media (max-width: 540px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 70px;
     padding: 0 0px;
  
  }

  .maincon-content {
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 5rem;
    max-width: 50%; /* Ограничиваем максимальную ширину контента */
    color: aliceblue; /* Цвет текста */
  }
  
  .maincon-image img {
    width: 300px;
  }

  h1 {
    font-size: 1.2rem; /* Используем относительный размер шрифта */
    margin: 1rem 0;
  }

  p {
    font-size: 1.1rem;
    margin: 1rem 0;
  }

  h1 span {
    font-size: 1.5rem; /* Размер для части заголовка */
  }
  
}

@media (max-width: 350px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 2px;
     margin-right: 2px;
     margin-top: 70px;
     padding: 0 0px;
  
  }

  .maincon-content {
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 2rem;
    max-width: 100%; /* Ограничиваем максимальную ширину контента */
    color: aliceblue; /* Цвет текста */
  }
  
  .maincon-image img {
    width: 300px;
  }

  h1 {
    font-size: 1.1rem; /* Используем относительный размер шрифта */
    margin: 1rem 0;
  }

  p {
    font-size: 1.0rem;
    margin: 1rem 0;
  }

  h1 span {
    font-size: 1.2rem; /* Размер для части заголовка */
  }
}

@media (max-width: 860px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 2px;
     margin-right: 2px;
     margin-top: 70px;
     padding: 0 0px;
  
  }

  .maincon-content {
    padding: 2rem;
    max-width: 100%; 
  }
  
  .maincon-image img {
    width: 500px;
  }

  h1 {
    font-size: 2.1rem; /* Используем относительный размер шрифта */
    margin: 1rem 0;
  }

  p {
    font-size: 2.0rem;
    margin: 1rem 0;
  }

  h1 span {
    font-size: 2.5rem; /* Размер для части заголовка */
  }
}

@media (max-width: 420px) {

  .maincon {
     display: flex;
     justify-content: center;
     flex-direction: column;/* Горизонтальное размещение элементов */
     margin-left: 2px;
     margin-right: 2px;
     margin-top: 70px;
     padding: 0 0px;
  
  }

  .maincon-content {
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 2rem;
    max-width: 100%; /* Ограничиваем максимальную ширину контента */
    color: aliceblue; /* Цвет текста */
  }
  
  .maincon-image img {
    width: 300px;
  }

  h1 {
    font-size: 1.1rem; /* Используем относительный размер шрифта */
    margin: 1rem 0;
  }

  p {
    font-size: 1.0rem;
    margin: 1rem 0;
  }

  h1 span {
    font-size: 1.2rem; /* Размер для части заголовка */
  }
}
  
   