header {
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
  height: 60px;  
  background-color: #292828;  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  z-index: 1000;  
  padding: 0 20%;  
    
}

.logo {
  width: auto; 
  max-width: 150px;  
  height: auto;
  background-color: #292828;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-weight: 500;
  color: #d9dbe2;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #168bf9;
}

 
.hamburger {
  display: none;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #d9dbe2;
  margin: 5px 0;
}

 /* меню сворачивается и разворачивается при разной ширине экрана*/ 
@media (max-width: 768px) {
   
  nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 0 20%; 
  }
 
  .hamburger {
    display: block;
    cursor: pointer;
  }
 
  nav.active {
    display: flex;
  }

  nav a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  nav a {
    font-size: 12px;
  }
} 